Each subdirectory of this directory contains an an example that uses
the MLWorks foreign interface.  A description of what each example
does is included in the directory.

The file mlw_ci.h is a C header file which is shared by all the examples.

