########### The license server permit #############

THE HARLEQUIN LICENSE SERVER VERSION 2.0


PRODUCTS: 1

#--------------------------------------------------#

PRODUCT: mlwpro-21

Harlequin Limited
MLWorks Professional
Version 2.1
0x2e9ea28b 0x31bf9fc 0x412ac809 0x611fcd8f

#----------------------------------------------#

